@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

:root {
  --fontFamily: 'Raleway', sans-serif;
  --textColorPrimary: #e7e7eb;
  --textColorSecondary: #a09fb1;
  --mainWhite: #fff;
  --backgroundColor: #100e1d;
  --backgroundColorSecondary: #1e213a;
  --backgroundColorBox: #6e707a;
  --buttonColor: #3c47e9;
  --barColor: #ffec65;
  --gradient: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  --animation: shine 1.6s infinite linear;
  --animation-top: shine-top 1.6s infinite linear;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
  color: var(--textColor);
  background-color: var(--mainWhite);
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

@keyframes shine {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 200px;
  }
}

@keyframes shine-top {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 270px;
  }
}
