.container {
  background-color: var(--backgroundColor);
  width: calc(100vw - 460px);
  height: 100vh;
  padding: 30px 120px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: scroll;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdown {
  position: relative;
}

.dropdown .selected {
  width: 35px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: var(--textColorPrimary);
  background-color: var(--backgroundColorBox);
  cursor: pointer;
}

.dropdown .dropdownList {
  position: absolute;
  top: calc(100% - -5px);
  left: 0;
  width: 100%;
  background-color: var(--textColorPrimary);
}

.dropdown .dropdownList li {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}

.footer {
  padding: 0 0 30px;
  text-align: center;
}

.footer .footerText {
  color: var(--textColorSecondary);
  font-size: 0.9rem;
}

.results {
  margin-top: 20px;
}

.results .resultsDays {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results .resultsToday {
  margin-top: 30px;
}

.results .resultsToday p {
  color: var(--textColorSecondary);
  font-size: 1.2rem;
  font-weight: 600;
}

.results .resultsToday .info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.results .resultsToday .info .wind,
.humidity,
.visibility,
.pressure {
  width: 328px;
  margin-bottom: 30px;
  padding: 25px 25px 35px;
  background-color: var(--backgroundColorSecondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.results .resultsToday .info .visibility,
.pressure {
  padding: 25px 25px 55px;
}

.results .resultsToday .info .wind,
.humidity {
  height: 204px;
}

.results .resultsToday .info .visibility,
.pressure {
  height: 159px;
}

.results .resultsToday .info p:first-child {
  color: var(--textColorSecondary);
  font-size: 0.9rem;
  font-weight: 500;
}

.results .resultsToday .info .wind .windSpeed {
  font-size: 4rem;
  font-weight: 600;
  line-height: 0;
  color: var(--textColorSecondary);
}

.results .resultsToday .info .wind .windSpeed span {
  font-size: 2.5rem;
}

.results .resultsToday .info .wind .direction {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results .resultsToday .info .wind .direction svg {
  margin-right: 8px;
}

.results .resultsToday .info .humidity .totalPercent {
  width: 180px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--textColorSecondary);
}

.results .resultsToday .info .humidity .totalPercent .percent {
  height: 8px;
  border-radius: 8px;
  background-color: var(--barColor);
}

.results .resultsToday .info .humidity .humidityPercent {
  font-size: 4rem;
  font-weight: 600;
  line-height: 0;
  color: var(--textColorSecondary);
}

.results .resultsToday .info .humidity .humidityPercent span {
  font-size: 2.5rem;
}

.results .resultsToday .info .visibility .quantity {
  font-size: 4rem;
  font-weight: 600;
  line-height: 0;
  color: var(--textColorSecondary);
}

.results .resultsToday .info .visibility .quantity span {
  font-size: 1.8rem;
}

.results .resultsToday .info .pressure .quantity {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 0;
  color: var(--textColorSecondary);
}

.results .resultsToday .info .pressure .quantity span {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1370px) {
  .container {
    padding: 30px 80px;
    width: calc(100vw - 450px);
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    width: calc(100vw - 370px);
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100vw;
    height: auto;
    padding: 20px 35px;
  }

  .header {
    padding: 0 35px;
  }

  .results .resultsDays {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
